.bg-gray {
    background-color: #cfcfcf;
}

.bg-beige {
    background-color: $beige;
}

.media-content-flex{

    
    &.default-left-right {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        max-width: 100%;
    

        img {
        
            max-width: 100%;
            height: auto;
            width: 100%;
            margin-left: -20%;
        }

        p {
            font-size:24px;
            line-height: 38px;
        }

        @media(max-width:992px) {
            display: block;

            p{
                margin-top: 50px;
            }
        }
    }

    &.default-right-left {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
        align-items: center;

        img {
        
            max-width: 100%;
            height: auto;
            width: 100%;
            position:relative;
            right: -20%;
        }

        p {
            font-size:24px;
            line-height: 38px;
        }

        @media(max-width:1400px) {
            grid-template-columns: 40% 60%;
            
            h1 {
                font-size: 40px;
            }
        }
        
        @media(max-width:1280px) {
            align-items: start;
         }
        
        @media(max-width:992px) {
            display: block;
            padding-top: 60px;

            p {
                font-size:24px;
                line-height: 38px;
            }

            
        }

       
    }

   
}


h3 {

    .underline {
        border-bottom: 2px solid rgba(0,0,0,.2) !important;
    }
}


@media(max-width:1280px) {
          
    h1 {
        font-size: 36px !important;
    }
    p{
        font-size: 20px;
    }


}

.img-mobile-fullbleed {
    @media(max-width:768px) {
        max-width:150% !important;
        width: 150% !important;
        margin-left: -25% !important;
        right: unset !important;
    }
    @media(max-width:600px) {
        max-width:140% !important;
        width: 140% !important;
        margin-left: -20% !important;
        right: unset !important;
    }
}