$beige: rgba(253,243,236,1);
$orange: #E68542;
$rose: rgba(253,243,236,1);
$black: rgba(0,0,0,.96);
$white: rgba(255,255,255,1);
$innerpadding: 30px;
$lightblack_80: rgba(0,0,0,.8); 
$lightblack_60: rgba(0,0,0,.6); 
$lightblack_40: rgba(0,0,0,.4); 