@font-face {
  font-family: 'Defaultfont';
  src: url(fonts/MarkPro-Medium.otf);
}
html, body, #__next {
  height: 100%;
  font-size: 20px;
  scroll-behavior: smooth;
}

section {
 
}
body {
  font-family: 'Defaultfont' !important;
  padding: 0;
  font-size: 20px;; overflow-x: hidden;
}

