$rose: rgba(253,243,236,1);
$black: rgba(0,0,0,.96);
$white: rgba(255,255,255,1);


$innerpadding: 30px;

ul {
        
    &.nav_main {
        list-style: none;
        padding-left: 0;
        height: auto;
        min-height: 100%;
        padding-bottom: 100px;

        
     
        li {
            padding-bottom:20px;
        
    
            a{
                text-decoration: none;
                color: white;
                font-size: 1.33em;

                @media(max-width:768px){
                    font-size: 1.2em;
                }
            }
        }

        @media(max-width:600px) {
            padding-left: 0px;

            li {
                padding-bottom: 8px;
                a {
                    font-size: 18px;
                }
            }
        }
    }
}


.logo{
    max-width: 25%;
    height: auto;
    margin-bottom: 20px;
   
    @media(max-width:992px){
        max-width: 30%;
    } 

    @media(max-width:768px){
        max-width: 40%;
    }
    
    @media(max-width:580px){
        max-width: 50%;
    }
}

video {
    width: 100vw;
    height: 100%;
    object-fit: cover;

    &.videobackground {
        position: fixed;
        top:0    }
}


#layer_content{
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    z-index:2;
    width: 100%;

    
}



.headlines {
    position: absolute;
    width: 100%;
    top: 70%;
    right: 0;
    padding-right: 5%;
    height: 200px;


    h3, h1 {
    
        &.fadein{
            opacity: 0;
            animation: fdsseq .5s forwards;
        }
        &.animation{
            animation:  slide-in-bottom .8s forwards;
        }
        
        &.right-left{
            text-align: right;
            @media(max-width:600px) {
                text-align: left;
            }
        }
    }

}

/* important because of the video background */
section{
    position: relative;
    z-index: 2;
    padding: $innerpadding + 30;

    @media(max-width:600px) {
        padding: $innerpadding 
    }
}

/*helper fn*/

.bg-gray {
    background-color: #cfcfcf;
}


.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    color: #fff;

    animation: show-3-lines 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;

    
  }
  
  
 
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s;  
  }
  
  @keyframes slide {
        0%{
        top:0;
        }
        25%{
        top: -4rem;    
        }
        50%{
        top: -8rem;
        }
        /*72.5%{
            top: -12.25rem;
        }*/
  }

  @keyframes show-3-lines {
    0%{
        height: 4.125rem;
        line-height: 4rem;
    }
    100%{
        height: 12.4rem;  
        line-height: 2.8rem;
    }
  }

  
  @media screen and (max-width: 600px){
    h1{
    text-align:left;
    text-transform: uppercase;
    color: #F1FAEE; 
       
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    animation-delay: 3s;
    animation-fill-mode: forwards;
    justify-content: flex-start;
    align-items: flex-start;

    }
    
   
    .roller #rolltext {  
    animation: slide-mob 3s;  


  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
  /*  72.5%{
      top: -6.375rem;
    } */
  }
  @keyframes show-3-lines {
    0%{
        height: 2.6rem; 
    line-height: 2.125rem;  
    }
    100%{
        height: 7.8rem;  
    }
  }

  }



  #imagebackground {
    background-image:url("/images/sven01.JPG");
    background-size:cover;
    z-index: 0;
    position: absolute;
    background-position: center;
  }

  /** Homepage **/

  .colored-bg {
    background: rgb(142,79,7);
    background: linear-gradient(0deg, rgba(142,79,7,.6) 0%, rgba(142,79,7,0.4) 27%, rgba(142,79,7,0.4) 66%, rgba(142,79,7,.65) 100%);
    
  }

  .headlines {
    @media(max-width:600px) {
        h1, h3 { padding-left: 30px; }
        h3{
            font-size: 16px;
        }
        h1 {
            font-size: 20px;
            text-align: left;
        }
    }
  }
  
  /** Unternehmnen **/


  #company {
    h1 {
        margin: 10%;
        font-size: 60px;
        box-sizing: border-box;
        color : rgba(0,0,0,1);

        span {
            border-bottom: 2px solid rgba(0,0,0,.2);
        }

        @media(max-width:992px) {
            font-size: 45px;
        }
        @media(max-width:600px) {
            font-size: 30px;
        }
        
    }

    .media-content-flex{

        &.default-left-right {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        max-width: 100%;
    
        img {
        
            max-width: 100%;
            height: auto;
            width: 100%;
            margin-left: -10%;
        }

        p {

        }
    }
    }
  }