$rose: rgba(253,243,236,1);
$black: rgba(0,0,0,.96);
$white: rgba(255,255,255,1);


$innerpadding: 30px;

ul {
        
    &.nav_main {
        list-style: none;
        padding-left: 50px;
        height: auto;
        min-height: 100%;
        padding-bottom: 100px;
     
        li {
            padding-bottom:20px;
        
    
            a{
                text-decoration: none;
                color: white;
                font-size: 1.33em;

                @media(max-width:768px){
                    font-size: 1.2em;
                }
            }
        }
    }
}


.logo{
    max-width: 25%;
    height: auto;
    margin-bottom: 20px;
   
    @media(max-width:992px){
        max-width: 30%;
    } 

    @media(max-width:768px){
        max-width: 40%;
    }
    
    @media(max-width:580px){
        max-width: 50%;
    }
}

video {
    width: 100vw;
    height: 100%;
    object-fit: cover;

    &.videobackground {
        position: fixed;
        top:0    }
}


#layer_content{
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    z-index:2;
    width: 100%;

    
}

.media-content-flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;

    img {
    
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.headlines {
    position: absolute;
    width: 100%;
    top: 70%;
    right: 0;
    padding-right: 5%;
    height: 200px;


    h3, h1 {
        &.fadein{
            opacity: 0;
            animation: fdsseq .5s forwards;
        }
        &.animation{
            animation:  slide-in-bottom .8s forwards;
        }
        
    }

}

/* important because of the video background */
section{
    position: relative;
    z-index: 2;
    padding: $innerpadding
}

/*helper fn*/

.bg-gray {
    background-color: #cfcfcf;
}


.roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    color: #fff;
  }
  
  
 
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
   
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
   
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }