@import 'variables';
@import 'nav';
@import 'logo';
@import 'headlines';
@import 'rollertext';
@import 'helper';


video {
    width: 100vw;
    height: 100%;
    object-fit: cover;

    &.videobackground {
        position: fixed;
        top:0    }
}






/* position important because of the video background */
section{
    position: relative;
    z-index: 2;
    padding: $innerpadding + 60;

    @media(max-width:600px) {
        padding: $innerpadding 
    }
}




  
 
  
 



  #imagebackground {
    background-image:url("/images/sven01.JPG");
    background-size:cover;
    z-index: 0;
    position: absolute;
    background-position: center;
  }

  /** Homepage **/

  .colored-bg {
    background: rgb(142,79,7);
    background: linear-gradient(0deg, rgba(142,79,7,.6) 0%, rgba(142,79,7,0.4) 27%, rgba(142,79,7,0.4) 66%, rgba(142,79,7,.65) 100%);
    
  }

  .headlines {
    @media(max-width:600px) {
        h1, h3 { padding-left: 30px; }
        h3{
            font-size: 16px;
        }
        h1 {
            font-size: 20px;
            text-align: left;
        }
    }
  }
  
  /** Unternehmnen **/


  #company {
    height: auto !important;
    padding-bottom: 100px;
    
    .headline-badge {
        color:$lightblack_60;     
        font-size: 18px;

        span {
            border-bottom: 2px solid rgba(0,0,0,.1);
        }
       
    }
    h1 {
        margin: 10%;
        font-size: 60px;
        box-sizing: border-box;
        color : rgba(0,0,0,1);

        span {
            border-bottom: 2px solid rgba(0,0,0,.2);
        }

        @media(max-width:992px) {
            font-size: 45px;
        }
        @media(max-width:600px) {
            font-size: 30px;
        }

       
        
    }

   
  }



  #ngo {
    height: auto !important;
    padding-top: 0;
    padding-bottom: 200px;
     .headline-badge{
        padding-top: 60px !important;
    }
    .ngo-content {
        h1 {
            padding-bottom: 30px;
        }
    }


    @media(max-width:992px) {
        padding-bottom: 60px;

       
    }
    @media(max-width:600px) {
        padding-bottom: 30px;
    }
  }